{% extends "../base.html" %}
{% load static %}
{% block content %}
    {% comment %} top banner begin {% endcomment %}
    <section class="py-5 text-center container d-none d-md-block">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-light">SOME REALLY BIG TEXT OR IMAGE THAT SAYS MENU</h1>
            </div>
        </div>
    </section>
    {% comment %} top banner end {% endcomment %}
    <main class="container-fluid">
        <section class="row bg-body-tertiary">
            {% comment %} menu album begin {% endcomment %}
            <div class="container"
                 data-bs-spy="scroll"
                 data-bs-target="#menu-categories">
                {% for category, items in menu.items %}
                    <h2 id="menu-category-{{ category.name }}" class="text-center mt-5">{{ category.name }}</h2>
                    <div class="row row-cols-xl-3 row-cols-md-2 row-cols-sm-1 row-cols-1 g-3"
                         id="{{ category }}-row">
                        {% for menuitem in items %}
                            {% if menuitem.category == category %}
                                <div class="col">
                                    {% comment %} card begin {% endcomment %}
                                    <div class="card shadow-sm">
                                        {% comment %} image {% endcomment %}
                                 
                                        <img class="img-fluid"
                                             src="{{ menuitem.image.url }}"
                                             alt="Responsive image">
                                      
                                        {% comment %} body {% endcomment %}
                                        <div class="card-body">
                                            <p class="card-text">
                                                <a class="text-dark text-decoration-none"
                                                   href="{{ menuitem.get_absolute_url }}">{{ menuitem.name|title }}</a>
                                                <p class="card-text stacked-summary">
                                                    <small class="text-body-secondary">{{ menuitem.alt_text }}</small>
                                                </p>
                                                <p>{{ menuitem.description }}</p>
                                            </p>
                                            <div class="d-flex w-100 justify-content-between">
                                                {% for op in menuitem.option_set.all %}
                                                    <small class="text-nowrap text-truncate" style="max-width: 50px;">{{ op.name }}</small>
                                                {% endfor %}
                                                <small class="opacity-50 text-nowrap">{{ menuitem.price }}</small>
                                                <a href="{{ menuitem.get_absolute_url }}" class="btn btn-primary">Add to cart</a>
                                            </div>
                                        </div>
                                    </div>
                                    {% comment %} card end {% endcomment %}
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
            {% comment %} menu album end {% endcomment %}
            {% comment %} sidebar begin {% endcomment %}
            <div class="col-12 col-lg-1 col-md-1 px-sm-2 bg-dark d-flex position-fixed"
                 style="min-width: 230px;
                        margin-top:50px">
                <div class="container px-0">
                    <div class="row row-cols-md-1 row-cols-3 justify-content-center">
                        {% for c, _ in menu.items %}
                            <a href="#menu-category-{{ c.name }}" class="nav-link">
                                <div class="col align-self-md-stretch bg-light border my-1 mx-1">{{ c.name }}</div>
                            </a>
                        {% endfor %}
                    </div>
                </div>
            </div>
            {% comment %} sidebar end{% endcomment %}
        </section>
    </main>
{% endblock content %}
