{% extends "../base.html" %}
{% block content %}
    <section class="py-3 text-center container">
        <div class="row py-lg-1">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-light">{{ store.name }}</h1>
                <p class="lead text-body-secondary">{{ store.location }}</p>
                <p>{{ store.contact }} {{ store.opening_hours }}-{{ store.closing_hours }}</p>
            </div>
        </div>
    </section>
    {% comment %} start of menu {% endcomment %}
    <div class="container-md">
        {% for category, items in menu.items %}
            <div class="row border pt-1">
                <h5 class="display-6 fw-bold text-center">{{ category.name }}</h5>
                <div class="container-fluid border">
                    <div class="row border">
                        {% for item in items %}
                            <div class="col-sm-6">
                                <div class="card mx-1 my-2">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <img class="img-fluid mx-auto d-block" width="200px" height"200px" alt="Responsive image" src={{ item.image.url }}>
                                        </div>
                                        <div class="col-md-8">
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="col-8 card-title">{{ item.name }}</div>
                                                    <div class="col-auto text-end">
                                                        <small class="opacity-50 ">${{ item.price }}</small>
                                                    </div>
                                                </div>
                                                <p class="card-text">
                                                    <small class="text-body-secondary">{{ item.short_description }}</small>
                                                </p>
                                                <p class="card-text">{{ item.full_description }}</p>
                                                <div class="row align-items-end">
                                                    <div class="col-6">placeholder for shit</div>
                                                    <div class="col-6">placeholder for shit</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock content %}
