{% extends "../catalogue/base.html" %}
{% load static %}
{% block  title %}
    Shopping Cart Summary
{% endblock title %}
{% block content %}
    <main class="pt-5">
        <div class="container">
            <h1 class="h5">Shopping Cart</h1>
            {% for index, item in cart %}
                {% comment %} {{ item }} {% endcomment %}
                {% with menuitem=item.menuitem %}
                    <div class="card mb-3 border-0 menu-item" data-index="{{ index }}">
                        <div class="row g-0">
                            <div class="col-md-2 d-none d-md-block bg-light">
                                <img class="img-fluid mx-auto d-block"
                                     width="120px"
                                     alt="Responsive image"
                                     src="{{ menuitem.image.url }}">
                            </div>
                            <div class="col-md-10 ps-md-3">
                                <div class="card-body p-1">
                                    <a class="text-reset" href="{{ menuitem.get_absolute_url }}">
                                        <h5 class="card-title">{{ menuitem.name }}</h5>
                                        <p class="card-text pb-3">{{ menuitem.alt_text }}</p>
                                    </a>
                                    {% comment %} {{ item.options }} {% endcomment %}
                                    {% if item.options.items|length > 0 %}
                                    <ul>
                                    {% for op_k, op_v in item.options.items %}
                                        <li>{{ op_v.name }} - {{ op_v.price }}</li>    
                                    {% endfor %}
                                    </ul>
                                    {% endif %}
                                    {% comment %} {{ item.options.8.name }} {% endcomment %}
                                    {% comment %} <div class="row"> {% endcomment %}
                                    <div class="row">
                                        <div class="col-6">
                                            Subtotal:
                                            <div id="{{ menuitem.id }}-qty" class="d-inline">{{ item.qty }}</div>
                                        </div>
                                        <div class="col-6 text-end">
                                            <span class="h6 fw-bold">
                                                $
                                                <div id="{{ menuitem.id }}-sub-total" class="d-inline">{{ item.total_price }}</div>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="row p-3">
                                            <div class="col-12">
                                                <a type="button"
                                                   id="delete-button"
                                                   data-index="{{ index }}"
                                                   class="btn btn-outline-secondary btn-sm delete-button">Delete</a>
                                            </div>
                                        </div>
                                    </div>
                                    {% comment %} </div> {% endcomment %}
                                </div>
                            </div>
                        </div>
                    </div>
                {% endwith %}
            {% endfor %}
            {% comment %} Total  {% endcomment %}
            <div class="col-12 text-end">
                <div class="h3 fw-bold">
                    Total: $
                    <div id="total" class="d-inline">
                    {% if cart|length < 1 %}
                        0
                    {% else %}
                        {{ cart.get_total }}
                    {% endif %}
                    </div>
                </div>
            </div>
            {% comment %} Checkout button {% endcomment %}
            <div class="row justify-content-end">
                <div class="col-md-5 col-lg-4 order-md-last p-0 order-3">
                    <div class="d-grid gap-2">
                    <a role="button" href="{% url "payment:payment_summary" %}" class="btn btn-success fw-bold" type="button">Checkout</a>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <script>
        $(document).on("click", "#update-button", function (e) {
            e.preventDefault();
            var item_id = $(this).data('index');
            $.ajax({
                type: "POST",
                url: "{% url "cart:cart_add" %}",
                data: {
                    menuitemid: item_id,
                    menuitemqty: $("#select option:selected").val(),
                    csrfmiddlewaretoken: "{{ csrf_token }}",
                    action: "post"
                },
                success: function (json) {
                    document.getElementById("cart-item-qty").innerHTML = json.qty;
                    document.getElementById(item_id+"-qty").innerHTML = json.item_qty;
                    document.getElementById(item_id+"-sub-total").innerHTML = json.sub_total;
                    document.getElementById("total").innerHTML = json.total;
                },
                error: function (xhr, errmsg, err) {

                }
            });

        })

        $(document).on("click", "#delete-button", function (e) {
            e.preventDefault();
            var item_index = $(this).data('index');
            $.ajax({
                type: "POST",
                url: "{% url "cart:cart_delete" %}",
                data: {
                    item_index: item_index,
                    csrfmiddlewaretoken: "{{ csrf_token }}",
                    action: "post"
                },
                success: function (json) {
                    document.getElementById("cart-item-qty").innerHTML = json.qty;
                    $('.menu-item[data-index="' + item_index + '"]').remove();
                    document.getElementById("total").innerHTML = json.total;
                    if (!json.error) location.reload(true);
                },
                error: function (xhr, errmsg, err) {

                }
            });
        })
    </script>
{% endblock content %}
