# Python
*.pyc
*~
__pycache__

# Env
.env
venv/

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Coverage
.coverage
/htmlcov

# Windows
Thumbs.db*
ehthumbs*.db
[Dd]esktop.ini
$RECYCLE.BIN/

# fucking bullshit images for testing
*.png

# fucking bullshit vscode shenanigans
.vscode/

# secret memes
TODO
SPEC

# 
templates/drafts/
old/

# stripe
stripe.txt