{% extends "../base.html" %}
{% block content %}
    <div class="container">
        <main class="pt-5">
            <div class="row g-3">
                <div class="col-md-5 col-lg-5 order-md-first">
                    <div class="card">
                        <img class="img-fluid mx-auto d-block"
                             width="200px"
                             alt="Responsive image"
                             src="{{ menuitem.image.url }}">
                        <div class="card-body">
                            <h5 class="card-title">{{ menuitem.name|title|upper }}</h5>
                            <small class="card-text">{{ menuitem.alt_text }}</small>
                        </div>
                    </div>
                </div>
                <div class="col-md-7 col-lg-7 ps-md-3 ps-lg-5">
                    <div class="card">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                {% if menuitem.description|length > 0 %}
                                    {{ menuitem.description }}
                                {% else %}
                                    {{ menuitem.category.description }}
                                {% endif %}
                            </li>
                            <li class="list-group-item">
                                {% for op in menuitem.get_options %}
                                    <div class="form-check" id="options">
                                        {% comment %} <input class="form-check-input"
        autocomplete="off"
        type="checkbox"
        value='{ "price":{{op.price}}, "id":{{op.id}}}'
        id="op-select"> {% endcomment %}
                                        {% comment %} <label class="form-check-label" for="op-select">{{ op.name }} - ${{ op.price }}</label> {% endcomment %}
                                        <input class="form-check-input" autocomplete="off" type="checkbox" value={{ op.id }} data-option-name={{ op.name }} data-option-price={{ op.price }} id="op-select">
                                        <label class="form-check-label" for="op-select">{{ op.name }} - ${{ op.price }}</label>
                                    </div>
                                {% endfor %}
                            </li>
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-6 text-start" id="item-price" value="{{ menuitem.price }}">${{ menuitem.price }}</div>
                                    <div class="col-6 text-end">
                                        <button type="button"
                                                id="add-to-cart-button"
                                                value="{{ menuitem.id }}"
                                                class="btn btn-secondary btn-sm">Add to Cart</button>
                                    </div>
                                </div>
                            </li>
                            {% comment %} <li class="list-group-item">
                                PEEPEEPOOPOO
                            </li> {% endcomment %}
                        </ul>
                    </div>
                </div>
            </div>
        </main>
    </div>
    <script>
        $(document).on("click", "#add-to-cart-button", function (e) {
            e.preventDefault();
            var chosen_options = [];
            $("input:checked").each(function() {
                chosen_options.push($(this).val())
            })
            console.log(chosen_options)
            $.ajax({
                type: "POST",
                url: "{% url "cart:cart_add" %}",
                data: {
                    menuitemid: $(this).val(),
                    menuitemqty: 1,
                    options: JSON.stringify(chosen_options), 
                    csrfmiddlewaretoken: "{{ csrf_token }}",
                    action: "post"
                },
                success: function (json) {
                    document.getElementById("cart-item-qty").innerHTML = json.qty
                },
                error: function (xhr, errmsg, err) {

                }
            });
        })

        $(document).on("change", ":checkbox", function () {
            let original = parseFloat(document.getElementById("item-price").innerHTML.substring(1));
            let option_price = parseFloat($(this).attr("data-option-price"));
            if ($(this).is(":checked")) {
                document.getElementById("item-price").innerHTML = "$" + (original + option_price).toFixed(2);
            } else {
                document.getElementById("item-price").innerHTML = "$" + (original - option_price).toFixed(2);
            }
        })

    </script>
{% endblock content %}
