{% extends "./base.html" %}
{% load static %}
{% block title %}RestaurantHomepage{% endblock title %}
{% block content %}
    <div class="float-start">

            {% comment %} <div class="col d-flex flex-column"> {% endcomment %}
                <div class="d-flex flex-sm-column flex-row align-items-center align-items-sm-start px-3 pt-2 text-white">
                    <ul class="nav nav-pills flex-sm-column flex-row flex-shrink-1 flex-sm-grow-0 flex-grow-1 mb-sm-auto mb-0 justify-content-center align-items-center align-items-sm-start position-fixed"
                        id="menu-categories">
                        <li class="nav-item">
                        {% for c in categories %}
                                <a href="#menu-category-{{ c.name }}" class="nav-link px-sm-0 px-2">
                                    <span class="ms-1 d-sm-inline">{{ c.name }}</span>
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            {% comment %} </div> {% endcomment %}

    </div>
    <section class="py-5 text-center container">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-light">Restaurant/Store name placeholder</h1>
                <p class="lead text-body-secondary">Restaurant/Store location, phone number, placeholder</p>
                <p>
                    <a href="#" class="btn btn-primary my-2">Primary action placeholder</a>
                    <a href="#" class="btn btn-secondary my-2">Secondary action placeholder</a>
                </p>
            </div>
        </div>
    </section>
    <div class="album py-5 bg-body-tertiary">
        <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                {% for menuitem in menuitems %}
                    <div class="col">
                        <div class="card shadow-sm">
                            <img class="img-fluid"
                                 src="{{ menuitem.image.url }}"
                                 alt="Responsive image">
                            <div class="card-body">
                                <p class="card-text">
                                    <a class="text-dark text-decoration-none"
                                       href="{{ menuitem.get_absolute_url }}">{{ menuitem.name|title }}</a>
                                    <p>{{ menuitem.full_description }}</p>
                                </p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                        <button type="button" class="btn btn-sm btn-outline-secondary">Add to Cart</button>
                                    </div>
                                    <small class="text-body-secondary">9 mins</small>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock content %}
